main {
  display: flex;
  justify-content: center;
  top: 200px;
  padding: 10px;
}
.container {
  align-self: center;
  display: flex;
  flex-direction: column;
  background-color: #f05454;
  width: 80%;
  border-radius: 5px;
  align-items: center;
  border: 2px solid #30475e;
}
.container__restaurant {
  display: inline-flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px;
  padding: 10px;
  background-color: #e8e8e8;
  border: 2px solid #30475e;
  border-radius: .5em;
  box-shadow: 2px 3px 4px #222831;

}

.restaurant {
  display: inline-flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.restaurant__entry-image {
  height: 175px;
  width: 40%;
  margin-left: 40px;

}

.restaurant__entry-image > img {
  width: auto;
  max-width:fit-content;
  height: 100%;
  border-radius: 5px;
}

.restaurant__info {
  width: 500px;
  display: flex;
  flex-direction: column;
}
.title__text {
  text-decoration: none;
  font-size: 150%;
  color: #222831;

}

.summary__text {
  color: #30475e;
  font-style: italic
}

/* .address__text {

} */

@media (max-width: 1250px) {
  .container {
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: #f05454;
    width: 100%;
    border-radius: 5px;
    align-items: center;
  }
  .container__restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 10px;
    padding: 10px;
    background-color: #e8e8e8;
    border-radius: 10px;
  }
  .restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurant__entry-image {
    height: fit-content;
    width: 80%;
    display: flex;
    /* justify-content: left; */
    margin-left: 0px;

  }

  .restaurant__entry-image > img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding-right: 5%;
  }
  .restaurant__info {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurant__info > div {
    width: 100%;
  }
  .title__text {
    text-decoration: none;
    font-size: 230%;
    color: #222831;

  }
  .summary__text {
    color: #30475e;
    font-style: italic
  }
}
