.fab {
  align-items: center;
  background-color: orange;
  border-radius: 50px;
  bottom: 30px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* position: fixed; */
  left: 200px;
  height: 50px;
  width: fit-content;
  padding-right: 5px;
  transition: box-shadow 0.5s, transform 0.25s;
  zoom: 1;
}

.fab.is-hidden {
  transform: scale(0);
}

.fab:hover {
  box-shadow: 0 6px 8px rgb(0, 0, 0, 0.3);
}

.fab span {
  transition: transform 0.5s;
}

.fab:active span {
  transform: rotate(360deg);
}
main {
  display: flex;
  justify-content: center;
  top: 200px;
  padding: 10px;
}
.reviews-holder {
  align-self: center;
  left: 10% ;
  display: flex;
  flex-direction: column;
  background-color: #f05454;
  width: 80%;
  border-radius: 5px;
  align-items: center;
  border: 2px solid #30475e;
  padding: 10px;

}

.review{
  width: 80%;
  margin: 10px;
  padding: 10px;
  background-color: #e8e8e8;
  border: 2px solid #30475e;
  border-radius: .5em;
  box-shadow: 2px 3px 2px #222831;
}
.review > div {
  font-family: Oswald, 'Times New Roman', Times, serif;
}
